/*
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-body {
  overflow-y: auto;
}

.modal {
}
*/

.modal-main {
  height: 100%;
  width: 100%;
}

.modal-content {
  height: 100%; 
  width: 100%; 
  border-radius: 0;
  background: #F6F3DF;
}


/* Sliderds */
.irs--shiny .irs-handle {
  background-color: #AEAEB2;
}

.irs--shiny .irs-bar {
  background: #AEAEB2;
}

/* Cuando de texto */
#buscar {
    border: none;
    border-bottom: 2px solid #AEAEB2; /* Color del borde inferior */
    border-radius: 0; /* Sin bordes redondeados */
    outline: none; /* Sin contorno al enfocar */
    transition: border-color 0.3s; /* Transición suave para el color del borde */
}

#buscar:focus {
    border-bottom: 2px solid #AEAEB2; /* Color del borde inferior al enfocar */
}

#buscar::placeholder {
    color: #AEAEB2; /* Color del placeholder */
    opacity: 1; /* Asegurarte de que el placeholder no sea transparente */
}

/* Botones con espacios */
#segmento > div > .checkbtn {
  margin: 5px;
}
