.gauge-container {
    width: 100%;
    height: 10px;
    display: flex;
    position: relative; /* Necesario para posicionar el círculo relativo al contenedor */
}

.gauge-segment {
    height: 100%;
}

.segment-1 {
    background-color: #FF0000; /* Rojo */
    flex: 1;
}

.segment-2 {
    background-color: #FFA500; /* Naranja */
    flex: 1;
}

.segment-3 {
    background-color: #FFFF00; /* Amarillo */
    flex: 1;
}

.segment-4 {
    background-color: #008000; /* Verde */
    flex: 1;
}

.gauge-indicator {
    position: absolute;
    /* left: 70%; /* Posiciona el círculo al 70% del ancho del contenedor */
    top: 50%; /* Centra el círculo verticalmente respecto al contenedor */
    transform: translate(-50%, -50%); /* Ajusta para centrar el círculo en ambas direcciones */
    width: 15px; /* Ajusta el tamaño del círculo */
    height: 15px;
    background-color: #FFFFFF; /* Fondo del círculo */
    border: 2px solid #000000; /* Borde de color negro */
    border-radius: 50%; /* Hace que el div sea un círculo */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
}
